[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[requires]

python_version = "3.5"


[packages]

django = "*"
"psycopg2" = "*"
social-auth-app-django = "*"
python-twitter = "*"
django-q = "*"
honcho = "*"


[dev-packages]

pytest = "*"
pytest-django = "*"
ipython = "*"
pytest-watch = "*"
