[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3"

[packages]
django = "*"
social-auth-app-django = "*"
python-twitter = "*"
"psycopg2-binary" = "*"
celery = {extras = ["redis"]}
redis = "*"
django-redis = "*"
gunicorn = "*"
whitenoise = "*"
eventlet = "*"
django-bootstrap4 = "*"
django-celery-beat = "*"
watchdog = "*"
dj-database-url = "*"
django-csp = "*"
django-request = "*"
django-xff = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
