{% extends 'bootstrap.html' %}

{% load bootstrap4 %}

{% block bootstrap4_content %}
  <header>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="{% url "home" %}"}">Secateur</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" id="navbarText">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url "block-accounts" %}">Block accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "log-messages" %}">Log</a>
            </li>
          {% endif %}
        </ul>



        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="https://ko-fi.com/tveastman">Donate</a></li>
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.screen_name }}
              <a>
              <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="navbarDropdown">
                {% if user.is_staff %}
                  <a href="{% url 'admin:index' %}" class="dropdown-item">Admin</a>
                {% endif %}
                <a href="{% url 'following' %}" class="dropdown-item">Update follow list</a>
                <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                <a href="{% url 'disconnect' %}" class="dropdown-item">Disconnect</a>
              </div>
            </li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url "social:begin" "twitter" %}">Log in (via Twitter)</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  <header>

  <main role="main" class="container">
      <h1 class="mt-5">{% block title %}(no title){% endblock %}</h1>

      {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

      {% block content %}(no content){% endblock %}
  </main>

{% endblock %}
