{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Block accounts{% endblock %}

{% block content %}
  <form method="POST">{% csrf_token %}
    {% bootstrap_form form layout='horizontal' show_help=True %}
    {% buttons %}
      {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" %}
      {% bootstrap_button "Cancel" button_type="link" href="/" button_class="btn-default" %}
    {% endbuttons %}
  </form>

<p>NEW: If you don't want Secateur to block the accounts of people you follow, you can tell it not to <a href="{% url "following" %}">on this page</a>.</p>
{% endblock %}
