{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Block accounts{% endblock %}

{% block content %}
  <form method="POST">{% csrf_token %}
    {% bootstrap_form form layout='horizontal' show_help=True %}
    {% buttons %}
      {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" %}
      {% bootstrap_button "Cancel" button_type="link" href="/" button_class="btn-default" %}
    {% endbuttons %}
  </form>

<p>If you don't want Secateur to block the accounts of people you follow, you can tell it not to <a href="{% url "following" %}">on this page</a>.</p>

<h2>Blocking accounts using Secateur</h2>

    <p>
        Secateur blocks a user and all their followers, and it can automatically unblock them later
        after a time of your choosing. If Secateur is under heavy load, then it can take a while for blocking to start.
    </p>
    <p>
        There's a rate-limit that affects how many people you can block. It works just like a stamina bar in a game:
        it refills slowly over time up to a maximum. The maximum and the speed at which it refills are things I tune
        every once in a while depending on how overloaded the server is.
    </p>
    <p>
        Important note: <b>If you change your Twitter screen name, Secateur won't work for you anymore</b> until you
        log in again. The credentials Secateur users are tied to your Twitter username. If you change your screen name
        Secateur can't unblock or block users for you until you log into to Secateur with your new screen name.
    </p>
    <p>Muting people is way, way slower than blocking them, and you can't mute many people. I recommend just using 'block'
    and 'block followers' and not using mute at all on Secateur (I intend to move mute to its own page later).</p>

  <h2>Support</h2>

    <p>
        As of May 2022, <b>Secateur has blocked almost 1.2 billion Twitter accounts</b>  on behalf of over
        thirty thousand users. It costs me a couple hundred dollars per month to run. I'd like your help
        to keep it going.
    </p>

    <p>
      If you've used Secateur and it's really helped you out, please consider <a href="https://ko-fi.com/tveastman">using Ko-Fi to help donate
      to the running costs.</a>
    </p>

    <p><a href="https://www.patreon.com/tveastman">I've launched a patreon!</a> If you use Secateur regularly, and you've recommended it to others, you can really
      help just by donating a dollar a month to help pay for the server costs and keep it running.
    </p>

    <p>
        <a href='https://ko-fi.com/tveastman' target='_blank'>
            <img height='36' style='border:0px;height:36px;' src='/static/img/kofi.png' border='0' alt='Buy Me a Coffee at ko-fi.com' />
        </a>
        <a href="https://www.patreon.com/bePatron?u=576672"><img src="/static/img/become-a-patron.png" alt="Become a patron"/></a>
    </p>

{% endblock %}
