{% extends 'base.html' %}
{% load bootstrap4 %}
{% load waffle_tags %}

{% block title %}Secateur{% endblock %}
{% block content %}
  <p class='lead'>
    Use Secateur if you want to temporarily block or mute a Twitter account <em>and</em> all its followers.
  </p>

  {% if user.is_authenticated %}
    {% if not user.is_twitter_api_enabled %}
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">An administrator needs to enable your account.</h4>
        <p>
          You've logged in to Secateur, but an administrator needs to enable your access
          before you can use it to block or mute users. This is a safeguard while Secateur
          is still, essentially, a pre-alpha spare-time project.
        </p>
        <p>
          See the <a href="/contact/">contact page</a> for details.
        </p>
      </div>
    {% endif %}
  {% endif %}

  <h2>The basics</h2>
  <ol>
      <li><strong>Log in</strong> to secateur. Logging in connects Secateur to your Twitter account and gives it permission to block or unblock users on your behalf. </li>
      {#  <li>If you're logging in for the <strong>first time</strong>, you will also have to contact the <a href="/contact/">administrator</a> to ask them to enable your account. This is a safeguard while the project is young.</li>#}
      <li>If you don't want Secateur to block the accounts of people you follow. You can <a href="{% url "following" %}">update the list of people you follow on this page.</a></li>
      <li>Use the <strong>'Block Accounts'</strong> page to select whether to block or mute a user and/or their followers, and select a time period (in weeks).</li>
      <li>All operations Secateur takes on your behalf are logged on the 'Log' page.</li>
  </ol>
  <p>As you can see, the user interface at the moment is still entirely bare-bones. It will grow more usable and flexible over time.</p>

  <h2>Disconnecting</h2>
  <p>To immediately prevent Secateur from acting on your behalf, use the 'Disconnect' link.</p>

  <h2>Support</h2>

    <p>
        As of May 2022, <b>Secateur has blocked almost 1.2 billion Twitter accounts</b>  on behalf of over
        thirty thousand users. It costs me a couple hundred dollars per month to run. I'd like your help
        to keep it going.
    </p>

    <p>
      If you've used secateur and it's really helped you out, please consider <a href="https://ko-fi.com/tveastman">using Ko-Fi to help donate
      to the running costs.</a>
    </p>

    <p><a href="https://www.patreon.com/tveastman">I've launched a patreon!</a> If you use Secateur regularly, and you've recommended it to others, you can really
      help just by donating a dollar a month to help pay for the server costs and keep it running.
    </p>

    <p>
        <a href='https://ko-fi.com/tveastman' target='_blank'>
            <img height='36' style='border:0px;height:36px;' src='/static/img/kofi.png' border='0' alt='Buy Me a Coffee at ko-fi.com' />
        </a>
        <a href='https://www.patreon.com/tveastman' target='_blank'>
            <img height='36' style='border:0px;height:36px;' src='/static/img/Digital-Patreon-Wordmark_FieryCoral.png' border='0' alt='Support Secateur on Patreon' />
        </a>
    </p>


{% endblock %}
